<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white">Maintenance Chez Moez</a>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="onOpenModal(null, 'add')"
            >Ajouter client <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          type="search"
          (ngModelChange)="searchClients(key.value)"
          #key="ngModel"
          ngModel
          name="key"
          id="searchName"
          class="form-control mr-sm-2"
          placeholder="Chercher Clients..."
          required
        />
      </form>
    </div>
  </nav>
  
  <div class="container" id="main-container">
    <table class="table table-bordered">
      <tr>
        <th>Date</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Téléphone</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let client of clients">
        <td>{{ client.date }}</td>
        <td>{{ client.nom }}</td>
        <td>{{ client.prenom }}</td>
        <td>{{ client.numTelephone }}</td>
        <td>
          <a [routerLink]="['/list/', client.id]" class="btn btn-info">
            Voir
          </a>
          <button (click)="onOpenModal(client, 'edit')" class="btn btn-primary">
            Modifier
          </button>
          <button
            type="button"
            (click)="onOpenModal(client, 'delete')"
            class="btn btn-danger"
          >
            X
          </button>
        </td>
      </tr>
    </table>
  </div>
  
  <!-- Add Client Modal -->
  <div
    class="modal fade"
    id="addClientModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addClientModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addClientModalLabel">Ajouter Client</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddClient(addForm)">
            <div class="form-group">
              <label for="client">nom</label>
              <input
                type="text"
                ngModel
                name="nom"
                class="form-control"
                id="client"
                placeholder="nom"
                required
              />
            </div>
            <div class="form-group">
              <label for="marque">Prenom</label>
              <input
                type="text"
                ngModel
                name="prenom"
                class="form-control"
                id="prenom"
                placeholder="prenom"
                required
              />
            </div>
           
           
            
            <div class="form-group">
              <label for="matricule">Téléphone</label>
              <input
                type="text"
                ngModel
                name="numTelephone"
                class="form-control"
                id="numTelephone"
                placeholder="Téléphone"
                required
              />
            </div>
           
            <div class="modal-footer">
              <button
                type="button"
                id="add-client-form"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Annuler
              </button>
              <button
                [disabled]="addForm.invalid"
                type="submit"
                class="btn btn-primary"
              >
                Ajouter
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Edit Modal -->
  <div
    class="modal fade"
    id="updateClientModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="clientEditModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateClientModalLabel">
            Modifier Client {{ editClient?.marque }}
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="client">Client</label>
              <input
                type="text"
                ngModel="{{ editClient?.client }}"
                name="client"
                class="form-control"
                id="client"
                aria-describedby="emailHelp"
                placeholder="Client"
              />
            </div>
            <input
              type="hidden"
              ngModel="{{ editClient?.id }}"
              name="id"
              class="form-control"
              id="id"
            />
            <input
              type="hidden"
              ngModel="{{ editClient?.date }}"
              name="date"
              class="form-control"
              id="date"
            />
            <div class="form-group">
              <label for="marque">Marque</label>
              <input
                type="text"
                ngModel="{{ editClient?.marque }}"
                name="marque"
                class="form-control"
                id="marque"
                placeholder="Marque"
              />
            </div>
            <div class="form-group">
              <label for="kilometrage">Kilométrage</label>
              <input
                type="text"
                ngModel="{{ editClient?.kilometrage }}"
                name="kilometrage"
                class="form-control"
                id="kilometrage"
                placeholder="Kilométrage"
              />
            </div>
            <div class="form-group">
              <label for="matricule">Matricule</label>
              <input
                type="text"
                ngModel="{{ editClient?.matricule }}"
                name="matricule"
                class="form-control"
                id="matricule"
                name="matricule"
                placeholder="Matricule"
              />
            </div>
            <div class="form-group">
              <label for="commentaire">Commentaires</label>
              <input
                type="text"
                ngModel="{{ editClient?.commentaire }}"
                name="commentaire"
                class="form-control"
                id="commentaire"
                name="commentaire"
                placeholder="Commentaires"
              />
            </div>
            <div class="form-group">
              <label for="numTelepone">Téléphone</label>
              <input
                type="text"
                ngModel="{{ editClient?.numTelephone }}"
                name="numTelephone"
                class="form-control"
                id="numTelephone"
                name="numTelephone"
                placeholder="Téléphone"
              />
            </div>
            <div class="form-group">
              <label for="total">Reste à payer</label>
              <input
                type="number"
                ngModel="{{ editClient?.total }}"
                name="total"
                class="form-control"
                id="total"
                name="total"
                placeholder="Reste à payer"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                id=""
                data-dismiss="modal"
                class="btn btn-secondary"
              >
                Annuler
              </button>
              <button
                (click)="onUpdateClient(editForm.value)"
                data-dismiss="modal"
                class="btn btn-primary"
              >
                Confirmer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Delete Modal -->
  <div
    class="modal fade"
    id="deleteClientModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteModelLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Supprimer Client</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Vous êtes en train de supprimer la client
            {{ deleteClient?.marque }}?
          </p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Non
            </button>
            <button
              (click)="onDeleteClient(deleteClient?.id)"
              class="btn btn-danger"
              data-dismiss="modal"
            >
              Oui
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Notification for no cars -->
  <div *ngIf="clients?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Aucune client !</h4>
      <p>No Cars were found.</p>
    </div>
  </div>
  